.wrapper {
    width: 375px;
    height: 812px;
    margin: 0.5rem;
    background: #F9F9F9;
    font-size: 70%;
}

.list-group {
    border-radius: 1rem;
}

.list-group-item {
    border-radius: 1rem;

    margin: 0.7rem;
    box-shadow:
    0 2.8px 2.2px rgba(126, 126, 126, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.pokemon-list-item {
    width: 100%;
    float: left;
    display: flex;
    column-gap: 1rem;
    vertical-align: center;
    gap: 1rem;
}

.pokemon-id-item {
  width: 20%;
}

.flex-item {
    width: 100%;
}

.pokemon-image {
    width: 20%;
    height: 20%;
    flex: 0 0 20%; 
}

.tag {
    float: right;
    border-width: 0.2rem;
    color: white;
    border-radius: 5rem;
    width: 3.5rem;
    text-align: center;
    margin: 0.2rem;
    text-transform: capitalize;
}

.central-content {
    text-align: center;
}

.grass {
    background-color: green;
}

.types {
    display: inline;
    flex: 0 0 50%; 
}

.pokemon-id { 
    font-weight: lighter;
    color: #737373;
}

.pokemon-name {
    text-transform: capitalize;
    font-weight: bold;
}

.search-bar {
    margin-bottom: 1rem;
    width: 94%;
}

.button {
    width: 46%;
    height: 7rem;
    margin: 1%;
    color: white;
}

.my-team {
    margin: 0.4rem;
    width: 167px;
    height: 100px;
    left: 16px;
    top: 200px;

    /* Purple Gradient */
    background: linear-gradient(109.73deg, #46469C 0%, #7E32E0 100%);
    border-radius: 10px;
}

.favorites {
    width: 167px;
    height: 100px;
    left: 192px;
    top: 200px;
    
    /* Green Gradient */
    background: linear-gradient(109.73deg, #65CB9A 0%, #15D0DC 100%);
    border-radius: 10px;
}

.button-wrapper {
    text-align: center;
}