.list-group {
    border-radius: 1rem;
}

.list-group-item {
    border-radius: 1rem;

    margin: 0.7rem;
    box-shadow:
    0 2.8px 2.2px rgba(126, 126, 126, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.pokemon-list-item {
    display: flex;
    column-gap: 1rem;
    vertical-align: center;
    gap: 1rem;
}

.pokemon-id-item {
    flex: 0 0 5%; 
}

.flex-item {
    margin: auto;
}

.pokemon-image {
    width: 100px;
    height: 100px;
    flex: 0 0 25%; 
}

.tag {
    float: right;
    border-width: 0.2rem;
    color: white;
    border-radius: 5rem;
    width: 4rem;
    text-align: center;
    margin: 0.2rem;
    text-transform: capitalize;
}

.grass {
    background-color: green;
}

.types {
    display: inline;
    flex: 0 0 50%; 
}

.pokemon-id { 
    font-weight: lighter;
    color: #737373;
}

.pokemon-name {
    text-transform: capitalize;
    font-weight: bold;
}